In [1]:
import numpy as np
import pandas as pd

In [2]:
credits_df = pd.read_csv("credits.csv")
movies_df = pd.read_csv("movies.csv")

In [3]:
credits_df

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [4]:
movies_df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",04-09-1992,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],26-12-2011,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",13-10-2013,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",03-05-2012,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",05-08-2005,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

Allows us to see all rows and columns!

In [5]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# You can uncomment these to see the whole table

In [6]:
credits_df

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [7]:
movies_df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",04-09-1992,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],26-12-2011,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",13-10-2013,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",03-05-2012,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",05-08-2005,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

Combine datasets

In [8]:
movies_df = movies_df.merge(credits_df, on ='title')

In [9]:
movies_df.shape #shows columns total and rows total, (23 columns because the title is where we are joining)

(4808, 23)

In [10]:
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
movies_df.info() #gives a breakdown of the table

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4808 non-null   int64
 1   genres                4808 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4808 non-null   int64
 4   keywords              4808 non-null   object
 5   original_language     4808 non-null   object
 6   original_title        4808 non-null   object
 7   overview              4805 non-null   object
 8   popularity            4808 non-null   float64
 9   production_companies  4808 non-null   object
 10  production_countries  4808 non-null   object
 11  release_date          4807 non-null   object
 12  revenue               4808 non-null   int64
 13  runtime               4806 non-null   float64
 14  spoken_languages      4808 non-null   object
 15  status                4808 non-null   object
 16  tagline               3964 non-null   object
 17  title                 4808 non-null   object
 18  vote_average          4808 non-null   float64
 19  vote_count            4808 non-null   int64
 20  movie_id              4808 non-null   int64
 21  cast                  4808 non-null   object
 22  crew                  4808 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.5+ KB

In [12]:
movies_df = movies_df[['movie_id', 'title', 'overview', 'genres', 'keywords', 'vote_average','vote_count', 'cast','crew', ]] #Reducing the datset to the topics we will use

In [13]:
movies_df.head()

,movie_id,title,overview,genres,keywords,vote_average,vote_count,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [14]:
movies_df.info() #Reduced down to the columns we will actually use

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      4808 non-null   int64
 1   title         4808 non-null   object
 2   overview      4805 non-null   object
 3   genres        4808 non-null   object
 4   keywords      4808 non-null   object
 5   vote_average  4808 non-null   float64
 6   vote_count    4808 non-null   int64
 7   cast          4808 non-null   object
 8   crew          4808 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 375.6+ KB

In [15]:
#Checking for missing values 
movies_df.isnull().sum()

movie_id        0
title           0
overview        3
genres          0
keywords        0
vote_average    0
vote_count      0
cast            0
crew            0
dtype: int64

In [16]:
#modififes the dataframe directly,  will remove any rows in the movies_df dataframe that contain missing values (i.e., NaN or null values). dropna() comes from Pandas!
movies_df.dropna(inplace= True)

In [17]:
movies_df.duplicated().sum() #checks for duplicates

0

In [18]:
movies_df.iloc[0].genres #The iloc(), comes from pandas, selects a specific name and from dataset, this willgive us the genre brekadown of the first movie, in this case genre

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [19]:
import ast

In [20]:
def convert(obj):
    L = []
    for item in ast.literal_eval(obj):
        L.append(item["name"])
    return L

In [21]:
#This eventually worked...
movies_df['genres'] = movies_df['genres'].apply(convert)
movies_df['keywords'] = movies_df['keywords'].apply(convert)

In [22]:
movies_df.head()

,movie_id,title,overview,genres,keywords,vote_average,vote_count,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
# movies_df['keywords'] = movies_df['keywords'].apply(convert)

In [24]:
movies_df.head()

,movie_id,title,overview,genres,keywords,vote_average,vote_count,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [25]:
def main_cast(obj):
    L=[]
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [26]:
movies_df['cast'] = movies_df['cast'].apply(main_cast) #Just took the main actor

In [27]:
movies_df.head()

,movie_id,title,overview,genres,keywords,vote_average,vote_count,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",6.3,4466,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",7.6,9106,"[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",6.1,2124,"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [28]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [29]:
movies_df['crew'] = movies_df['crew'].apply(fetch_director)

In [30]:
movies_df.head()

,movie_id,title,overview,genres,keywords,vote_average,vote_count,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",6.3,4466,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",7.6,9106,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",6.1,2124,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [31]:
movies_df['overview'][0] #lets us see the full overview of the first movie of the df.

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [32]:
movies_df['overview'] = movies_df['overview'].apply(lambda x:x.split()) #makes overview an array of words

In [33]:
movies_df.head()

,movie_id,title,overview,genres,keywords,vote_average,vote_count,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",6.3,4466,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",7.6,9106,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",6.1,2124,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [34]:
#Removes spaces in names, of arrays this will help later on
movies_df['genres'] = movies_df['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies_df['cast'] = movies_df['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies_df['crew'] = movies_df['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [35]:
movies_df.isnull().sum() #cast had null properties

movie_id        0
title           0
overview        0
genres          0
keywords        0
vote_average    0
vote_count      0
cast            0
crew            0
dtype: int64

In [36]:
movies_df.dropna(inplace= True) #When we took the main cast, some movies didnt have a main cast member, we need to remove them now

In [37]:
movies_df.isnull().sum()

movie_id        0
title           0
overview        0
genres          0
keywords        0
vote_average    0
vote_count      0
cast            0
crew            0
dtype: int64

In [38]:
movies_df.head()

,movie_id,title,overview,genres,keywords,vote_average,vote_count,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",7.2,11800,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",6.9,4500,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",6.3,4466,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",7.6,9106,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",6.1,2124,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [39]:
movies_df['tags'] = movies_df['overview'] + movies_df['genres'] + movies_df['keywords'] + movies_df['cast'] + movies_df['crew']

In [40]:
movies_df.head()

,movie_id,title,overview,genres,keywords,vote_average,vote_count,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",7.2,11800,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",6.9,4500,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",6.3,4466,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",7.6,9106,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",6.1,2124,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [41]:
movies_df['tags'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [42]:
new_movies_df = movies_df[['movie_id','title','tags']].copy() #making a new dataframe, tags is representative of all the other columns, making a copy because it was throwing warning whne i tried to modify tags, letting me know that it was only making changes to the copy and not the original

In [43]:
new_movies_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [44]:
new_movies_df['tags'] = new_movies_df['tags'].apply(lambda x:' '.join(x))

In [45]:
new_movies_df.head() #now makes tags a string

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [46]:
new_movies_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [47]:
new_movies_df['tags']= new_movies_df['tags'].apply(lambda x:x.lower()) #makes tags all lowercase, will help later

In [48]:
new_movies_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [49]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words='english') #Stop_words = "english", removes words such as the, and, an, a. from being a feature.

In [50]:
cv.fit_transform(new_movies_df['tags']).toarray().shape

(4805, 5000)

In [51]:
vectors = cv.fit_transform(new_movies_df['tags']).toarray()

In [52]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [53]:
len(cv.get_feature_names_out()) #

5000

In [54]:
import nltk #natural language tool kit, text processing lib

In [55]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [56]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [57]:
new_movies_df['tags'] = new_movies_df['tags'].apply(stem)

In [58]:
from sklearn.metrics.pairwise import cosine_similarity

In [59]:
cosine_similarity(vectors)

array([[1.        , 0.08964215, 0.05976143, ..., 0.02548236, 0.02672612,
        0.        ],
       [0.08964215, 1.        , 0.0625    , ..., 0.02665009, 0.        ,
        0.        ],
       [0.05976143, 0.0625    , 1.        , ..., 0.02665009, 0.        ,
        0.        ],
       ...,
       [0.02548236, 0.02665009, 0.02665009, ..., 1.        , 0.07150969,
        0.0489116 ],
       [0.02672612, 0.        , 0.        , ..., 0.07150969, 1.        ,
        0.05129892],
       [0.        , 0.        , 0.        , ..., 0.0489116 , 0.05129892,
        1.        ]])

In [60]:
cosine_similarity(vectors).shape

(4805, 4805)

In [61]:
similarity = cosine_similarity(vectors)

In [62]:
similarity[0]

array([1.        , 0.08964215, 0.05976143, ..., 0.02548236, 0.02672612,
       0.        ])

In [63]:
similarity[0].shape

(4805,)

In [64]:
sorted(list(enumerate(similarity[0])), reverse= True, key= lambda x:x[1])[1:10]

[(539, 0.26089696604360174),
 (507, 0.25302403842552984),
 (1194, 0.2522624895547565),
 (1216, 0.2480694691784169),
 (582, 0.24397501823713333),
 (1444, 0.24397501823713333),
 (260, 0.2428706962875665),
 (1920, 0.24053511772118194),
 (3730, 0.23904572186687872)]

In [65]:
def recommend(movie):
    try:
        movie_index = new_movies_df[new_movies_df['title']==movie].index[0]
    except IndexError:
        return "Sorry, the movie title that you requested does not appear to be in my database. Please try another movie!"
    
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key= lambda x:x[1])[1:10]
    
    for i in movies_list:
        print(new_movies_df.iloc[i[0]].title)

In [66]:
recommend('Avatar')

Titan A.E.
Independence Day
Small Soldiers
Aliens vs Predator: Requiem
Battle: Los Angeles
Krull
Ender's Game
Lifeforce
Falcon Rising

In [67]:
recommend('Iron Man')

Iron Man 2
Iron Man 3
Avengers: Age of Ultron
Captain America: Civil War
The Avengers
Ant-Man
X-Men
X-Men: The Last Stand
Thor: The Dark World

In [68]:
recommend('Liar Liar')

13 Going on 30
Heartbreakers
A Simple Wish
A Good Year
21 & Over
That's My Boy
Ted
Rushmore
Pinocchio

In [69]:
recommend('The Avengers')

Avengers: Age of Ultron
Captain America: Civil War
Iron Man 3
Captain America: The First Avenger
Iron Man
Ant-Man
Iron Man 2
Captain America: The Winter Soldier
Guardians of the Galaxy

In [70]:
recommend('John Wick')

'Sorry, the movie title that you requested does not appear to be in my database. Please try another movie!'

In [71]:
recommend('The Lion King')

Quest for Camelot
Nicholas Nickleby
The Addams Family
The Prisoner of Zenda
The Chronicles of Narnia: Prince Caspian
The King's Speech
Redemption Road
Colombiana
Hoot

In [72]:
recommend('The Addams Family')

The Lion King
DysFunktional Family
Nicholas Nickleby
Darkness
Johnson Family Vacation
The Master of Disguise
The Boxtrolls
Over the Hedge
One Hour Photo

#### Making a recommendation based off popularity

First of all we will need to create a data frame which contains only the movies with more than 100 votes, this is to ensure that the vote average has been balanced out. Those deep cuts which have 1 vote wont be represented in the data and wont be able to be recommended through this method.

In [73]:
popular_movies_df = movies_df.copy()
popular_movies_df = popular_movies_df[popular_movies_df['vote_count'] >= 100]
popular_movies_df.sort_values('vote_average', ascending=False).head(50)

,movie_id,title,overview,genres,keywords,vote_average,vote_count,cast,crew,tags
1887,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur...","[Drama, Crime]","[prison, corruption, policebrutality, prisonce...",8.5,8205,"[TimRobbins, MorganFreeman, BobGunton]",[FrankDarabont],"[Framed, in, the, 1940s, for, the, double, mur..."
3342,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr...","[Drama, Crime]","[italy, loveatfirstsight, lossoffather, patria...",8.4,5893,"[MarlonBrando, AlPacino, JamesCaan]",[FrancisFordCoppola],"[Spanning, the, years, 1945, to, 1955,, a, chr..."
662,550,Fight Club,"[A, ticking-time-bomb, insomniac, and, a, slip...",[Drama],"[supportgroup, dualidentity, nihilism, rageand...",8.3,9413,"[EdwardNorton, BradPitt, MeatLoaf]",[DavidFincher],"[A, ticking-time-bomb, insomniac, and, a, slip..."
3237,680,Pulp Fiction,"[A, burger-loving, hit, man,, his, philosophic...","[Thriller, Crime]","[transporter, brothel, drugdealer, boxer, mass...",8.3,8428,"[JohnTravolta, SamuelL.Jackson, UmaThurman]",[QuentinTarantino],"[A, burger-loving, hit, man,, his, philosophic..."
2300,129,Spirited Away,"[A, ten, year, old, girl, who, wanders, away, ...","[Fantasy, Adventure, Animation, Family]","[witch, parentskidsrelationship, magic, twilig...",8.3,3840,"[RumiHiiragi, MiyuIrino, MariNatsuki]",[HayaoMiyazaki],"[A, ten, year, old, girl, who, wanders, away, ..."
3871,244786,Whiplash,"[Under, the, direction, of, a, ruthless, instr...",[Drama],"[jazz, obsession, conservatory, musicteacher, ...",8.3,4254,"[MilesTeller, J.K.Simmons, MelissaBenoist]",[DamienChazelle],"[Under, the, direction, of, a, ruthless, instr..."
1824,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar...","[Drama, History, War]","[factory, concentrationcamp, hero, holocaust, ...",8.3,4329,"[LiamNeeson, BenKingsley, RalphFiennes]",[StevenSpielberg],"[The, true, story, of, how, businessman, Oskar..."
2737,240,The Godfather: Part II,"[In, the, continuing, saga, of, the, Corleone,...","[Drama, Crime]","[italo-american, cuba, vororte, melancholy, pr...",8.3,3338,"[AlPacino, RobertDuvall, DianeKeaton]",[FrancisFordCoppola],"[In, the, continuing, saga, of, the, Corleone,..."
809,13,Forrest Gump,"[A, man, with, a, low, IQ, has, accomplished, ...","[Comedy, Drama, Romance]","[vietnamveteran, hippie, mentallydisabled, run...",8.2,7927,"[TomHanks, RobinWright, GarySinise]",[RobertZemeckis],"[A, man, with, a, low, IQ, has, accomplished, ..."
3726,510,One Flew Over the Cuckoo's Nest,"[While, serving, time, for, insanity, at, a, s...",[Drama],"[individual, rebel, self-destruction, wheelcha...",8.2,2919,"[JackNicholson, LouiseFletcher, DannyDeVito]",[MilošForman],"[While, serving, time, for, insanity, at, a, s..."
4607,389,12 Angry Men,"[The, defense, and, the, prosecution, have, re...",[Drama],"[judge, jurors, sultriness, deathpenalty, fath...",8.2,2078,"[HenryFonda, MartinBalsam, JohnFiedler]",[SidneyLumet],"[The, defense, and, the, prosecution, have, re..."
2176,539,Psycho,"[When, larcenous, real, estate, clerk, Marion,...","[Drama, Horror, Thriller]","[hotel, clerk, arizona, shower, rain, motel, m...",8.2,2320,"[AnthonyPerkins, VeraMiles, JohnGavin]",[AlfredHitchcock],"[When, larcenous, real, estate, clerk, Marion,..."
4540,346,Seven Samurai,"[A, samurai, answers, a, village's, request, f...","[Action, Drama]","[japan, samurai, peasant, looting, rice, fenci...",8.2,878,"[ToshirōMifune, TakashiShimura, YoshioInaba]",[AkiraKurosawa],"[A, samurai, answers, a, village's, request, f..."
690,497,The Green Mile,"[A, supernatural, tale, set, on, death, row, i...","[Fantasy, Drama, Crime]","[southernusa, blackpeople, mentallydisabled, b...",8.2,4048,"[TomHanks, MichaelClarkeDuncan, DavidMorse]",[FrankDarabont],"[A, supernatural, tale, set, on, death, row, i..."
1996,1891,The Empire Strikes Back,"[The, epic, saga, continues, as, Luke, Skywalk...","[Adventure, Action, ScienceFiction]","[rebel, android, asteroid, spacebattle, snowst...",8.2,5879,"[MarkHamill, HarrisonFord, CarrieFisher]",[IrvinKershner],"[The, epic, saga, continues, as, Luke, Skywalk..."
2253,128,Princess Mononoke,"[Ashitaka,, a, prince, of, the, disappearing, ...","[Adventure, Fantasy, Animation]","[fight, wolf, villageandtown, iron, pan, wildb...",8.2,1983,"[YōjiMatsuda, YurikoIshida, YūkoTanaka]",[HayaoMiyazaki],"[Ashitaka,, a, prince, of, the, disappearing, ..."
1993,4935,Howl's Moving Castle,"[When, Sophie,, a, shy, young, woman,, is, cur...","[Fantasy, Animation, Adventure]","[flying, witch, rain, castle, scarecrow, bodye...",8.2,1991,"[TakuyaKimura, AkihiroMiwa, TatsuyaGashûin]",[HayaoMiyazaki],"[When, Sophie,, a, shy, young, woman,, is, cur..."
65,155,The Dark Knight,"[Batman, raises, the, stakes, in, his, war, on...","[Drama, Action, Crime, Thriller]","[dccomics, crimefighter, secretidentity, scare...",8.2,12002,"[ChristianBale, HeathLedger, AaronEckhart]",[ChristopherNolan],"[Batman, raises, the, stakes, in, his, war, on..."
1853,769,GoodFellas,"[The, true, story, of, Henry, Hill,, a, half-I...","[Drama, Crime]","[prison, basedonnovel, florida, 1970s, massmur...",8.2,3128,"[RobertDeNiro, RayLiotta, JoePesci]",[MartinScorsese],"[The, true, story, of, Henry, Hill,, a, half-I..."
1669,311,Once Upon a Time in America,"[A, former, Prohibition-era, Jewish, gangster,...","[Drama, Crime]","[lifeanddeath, corruption, streetgang, rape, s...",8.2,1069,"[RobertDeNiro, JamesWoods, ElizabethMcGovern]",[SergioLeone],"[A, former, Prohibition-era, Jewish, gangster,..."
3062,73,American History X,"[Derek, Vineyard, is, paroled, after, serving,...",[Drama],"[usa, neo-nazi, prison, skinhead, brotherbroth...",8.2,3016,"[EdwardNorton, EdwardFurlong, BeverlyD'Angelo]",[TonyKaye],"[Derek, Vineyard, is, paroled, after, serving,..."
2097,274,The Silence of the Lambs,"[FBI, trainee,, Clarice, Starling, ventures, i...","[Crime, Drama, Thriller]","[basedonnovel, psychopath, horror, suspense, s...",8.1,4443,"[JodieFoster, AnthonyHopkins, ScottGlenn]",[JonathanDemme],"[FBI, trainee,, Clarice, Starling, ventures, i..."
1559,807,Se7en,"[Two, homicide, detectives, are, on, a, desper...","[Crime, Mystery, Thriller]","[self-fulfillingprophecy, detective, s.w.a.t.,...",8.1,5765,"[BradPitt, MorganFreeman, GwynethPaltrow]",[DavidFincher],"[Two, homicide, detectives, are, on, a, desper..."
3912,284,The Apartment,"[Bud, Baxter, is, a, minor, clerk, in, a, huge...","[Comedy, Drama, Romance]","[newyork, newyear'seve, lovesickness, agediffe...",8.1,483,"[JackLemmon, ShirleyMacLaine, FredMacMurray]",[BillyWilder],"[Bud, Baxter, is, a, minor, clerk, in, a, huge..."
4244,3082,Modern Times,"[The, Tramp, struggles, to, live, in, modern, ...","[Drama, Comedy]","[factory, ambulance, invention, tramp, greatde...",8.1,856,"[CharlieChaplin, PauletteGoddard, HenryBergman]",[CharlieChaplin],"[The, Tramp, struggles, to, live, in, modern, ..."
3872,598,City of God,"[Cidade, de, Deus, is, a, shantytown, that, st...","[Drama, Crime]","[malenudity, streetgang, brazilian, photograph...",8.1,1814,"[AlexandreRodrigues, LeandroFirmino, PhellipeH...","[FernandoMeirelles, KátiaLund]","[Cidade, de, Deus, is, a, shantytown, that, st..."
4307,429,"The Good, the Bad and the Ugly","[While, the, Civil, War, rages, between, the, ...",[Western],"[bountyhunter, refugee, gold, antihero, gallow...",8.1,2311,"[EliWallach, ClintEastwood, LeeVanCleef]",[SergioLeone],"[While, the, Civil, War, rages, between, the, ..."
329,122,The Lord of the Rings: The Return of the King,"[Aragorn, is, revealed, as, the, heir, to, the...","[Adventure, Fantasy, Action]","[elves, orcs, middle-earth(tolkien), basedonno...",8.1,8064,"[ElijahWood, IanMcKellen, ViggoMortensen]",[PeterJackson],"[Aragorn, is, revealed, as, the, heir, to, the..."
96,27205,Inception,"[Cobb,, a, skilled, thief, who, commits, corpo...","[Action, Thriller, ScienceFiction, Mystery, Ad...","[lossoflover, dream, kidnapping, sleep, subcon...",8.1,13752,"[LeonardoDiCaprio, JosephGordon-Levitt, EllenP...",[ChristopherNolan],"[Cobb,, a, skilled, thief, who, commits, corpo..."
2459,207,Dead Poets Society,"[At, an, elite,, old-fashioned, boarding, scho...",[Drama],"[individual, philosophy, poetry, shakespeare, ...",8.1,2705,"[RobinWilliams, EthanHawke, RobertSeanLeonard]",[PeterWeir],"[At, an, elite,, old-fashioned, boarding, scho..."
2290,694,The Shining,"[Jack, Torrance, accepts, a, caretaker, job, a...","[Horror, Thriller]","[hotel, isolation, hotelier, colorado, maze, b...",8.1,3757,"[JackNicholson, ShelleyDuvall, DannyLloyd]",[StanleyKubrick],"[Jack, Torrance, accepts, a, caretaker, job, a..."
95,157336,Interstellar,"[Interstellar, chronicles, the, adventures, of...","[Adventure, Drama, ScienceFiction]","[savingtheworld, artificialintelligence, fathe...",8.1,10867,"[MatthewMcConaughey, JessicaChastain, AnneHath...",[ChristopherNolan],"[Interstellar, chronicles, the, adventures, of..."
3578,77,Memento,"[Suffering, short-term, memory, loss, after, a...","[Mystery, Thriller]","[individual, insulin, tattoo, waitress, amnesi...",8.1,4028,"[GuyPearce, Carrie-AnneMoss, JoePantoliano]",[ChristopherNolan],"[Suffering, short-term, memory, loss, after, a..."
2917,11,Star Wars,"[Princess, Leia, is, captured, and, held, host...","[Adventure, Action, ScienceFiction]","[android, galaxy, hermit, deathstar, lightsabe...",8.1,6624,"[MarkHamill, HarrisonFord, CarrieFisher]",[GeorgeLucas],"[Princess, Leia, is, captured, and, held, host..."
3459,629,The Usual Suspects,"[Held, in, an, L.A., interrogation, room,, Ver...","[Drama, Crime, Thriller]","[law, relatives, theft, criminal, criminalmast...",8.1,3254,"[StephenBaldwin, GabrielByrne, ChazzPalminteri]",[BryanSinger],"[Held, in, an, L.A., interrogation, room,, Ver..."
2766,264644,Room,"[Jack, is, a, young, boy, of, 5, years, old, w...","[Drama, Thriller]","[basedonnovel, carpet, isolation, kidnapping, ...",8.1,2757,"[BrieLarson, JacobTremblay, JoanAllen]",[LennyAbrahamson],"[Jack, is, a, young, boy, of, 5, years, old, w..."
3627,335,Once Upon a Time in the West,"[This, classic, western, masterpiece, is, an, ...",[Western],"[showdown, bounty, bountyhunter, lossofbrother...",8.1,1128,"[HenryFonda, ClaudiaCardinale, JasonRobards]",[SergioLeone],"[This, classic, western, masterpiece, is, an, ..."
4305,500,Reservoir Dogs,"[A, botched, robbery, indicates, a, police, in...","[Crime, Thriller]","[traitor, jewelry, psychopath, thief, heist, b...",8.0,3697,"[HarveyKeitel, TimRoth, MichaelMadsen]",[QuentinTarantino],"[A, botched, robbery, indicates, a, police, in..."
3041,164558,One Direction: This Is Us,"[Go, behind, the, scenes, during, One, Directi...","[Documentary, Music]",[concert],8.0,201,"[HarryStyles, NiallHoran, ZaynMalik]",[MorganSpurlock],"[Go, behind, the, scenes, during, One, Directi..."
4342,103,Taxi Driver,"[A, mentally, unstable, Vietnam, War, veteran,...","[Crime, Drama]","[vietnamveteran, taxi, obsession, drugdealer, ...",8.0,2535,"[RobertDeNiro, CybillShepherd, HarveyKeitel]",[MartinScorsese],"[A, mentally, unstable, Vietnam, War, veteran,..."
77,150540,Inside Out,"[Growing, up, can, be, a, bumpy, road,, and, i...","[Drama, Comedy, Animation, Family]","[dream, cartoon, imaginaryfriend, animation, f...",8.0,6560,"[AmyPoehler, PhyllisSmith, RichardKind]",[PeteDocter],"[Growing, up, can, be, a, bumpy, road,, and, i..."
4437,654,On the Waterfront,"[Terry, Malloy, dreams, about, being, a, prize...","[Crime, Drama]","[murder, suspense, union, dock, longshoreman, ...",8.0,357,"[MarlonBrando, KarlMalden, LeeJ.Cobb]",[EliaKazan],"[Terry, Malloy, dreams, about, being, a, prize..."
1199,1124,The Prestige,"[A, mysterious, story, of, two, magicians, who...","[Drama, Mystery, Thriller]","[competition, secret, obsession, magic, dyinga...",8.0,4391,"[HughJackman, ChristianBale, MichaelCaine]",[ChristopherNolan],"[A, mysterious, story, of, two, magicians, who..."
1856,111,Scarface,"[After, getting, a, green, card, in, exchange,...","[Action, Crime, Drama, Thriller]","[miami, corruption, capitalism, cuba, prohibit...",8.0,2948,"[AlPacino, StevenBauer, MichellePfeiffer]",[BrianDePalma],"[After, getting, a, green, card, in, exchange,..."
494,8587,The Lion King,"[A, young, lion, cub, named, Simba, can't, wai...","[Family, Animation, Drama]","[lossofparents, wildboar, uncle, shaman, redem...",8.0,5376,"[JonathanTaylorThomas, MatthewBroderick, James...","[RogerAllers, RobMinkoff]","[A, young, lion, cub, named, Simba, can't, wai..."
4082,595,To Kill a Mockingbird,"[In, a, small, Alabama, town, in, the, 1930s,,...","[Crime, Drama]","[blackpeople, basedonnovel, brothersisterrelat...",8.0,657,"[GregoryPeck, BrockPeters, JamesAnderson]",[RobertMulligan],"[In, a, small, Alabama, town, in, the, 1930s,,..."
1538,120467,The Grand Budapest Hotel,"[The, Grand, Budapest, Hotel, tells, of, a, le...","[Comedy, Drama]","[hotel, painting, wartime, gunfight, theft, me...",8.0,4519,"[RalphFiennes, TonyRevolori, F.MurrayAbraham]",[WesAnderson],"[The, Grand, Budapest, Hotel, tells, of, a, le..."
3990,239,Some Like It Hot,"[Two, musicians, witness, a, mob, hit, and, st...","[Comedy, Romance]","[chicago, witness, musician, mafia, crossdress...",8.0,808,"[MarilynMonroe, TonyCurtis, JackLemmon]",[BillyWilder],"[Two, musicians, witness, a, mob, hit, and, st..."
3946,670,Oldboy,"[With, no, clue, how, he, came, to, be, impris...","[Drama, Thriller, Mystery, Action]","[sushirestaurant, rageandhate, notebook, daugh...",8.0,1945,"[ChoiMin-sik, YooJi-tae, KangHye-jung]",[ParkChan-wook],"[With, no, clue, how, he, came, to, be, impris..."
1531,28,Apocalypse Now,"[At, the, height, of, the, Vietnam, war,, Capt...","[Drama, War]","[guerrilla, river, vietnam, vietcong, cambodia...",8.0,2055,"[MartinSheen, MarlonBrando, RobertDuvall]",[FrancisFordCoppola],"[At, the, height, of, the, Vietnam, war,, Capt..."

#### Allowing genre searching, and reciving feedback dependant on collective filtering

This function allows the user to filter by genres. It can take in one or plural genres, adding more genres will narrow the search as it needs to be match all given elements.

In [74]:
def genre_recommendation(genres):
    if not isinstance(genres, list):
        genres = [genres]
    genre_movies = popular_movies_df.copy()
    genres = [genre.lower() for genre in genres]
    genre_movies = genre_movies[genre_movies['genres'].apply(lambda x: all([genre in [i.lower() if type(i) == str else i for i in x] for genre in genres]))]
    genre_movies = genre_movies.sort_values('vote_average', ascending=False).iloc[:10]
    
    movies_string = ''
    for i, row in enumerate(genre_movies.itertuples()):
        movie_string = f"{i+1}. {row.title} ({', '.join(row.genres)}) - {row.vote_average:.2f}\n"
        movies_string += movie_string
    
    genres_str = ', '.join(genres).capitalize()
    print(f"Top 10 recommended {genres_str} movies:\n{movies_string}")

In [75]:
genre_recommendation(['action','adventure'])

Top 10 recommended Action, adventure movies:
1. The Empire Strikes Back (Adventure, Action, ScienceFiction) - 8.20
2. Star Wars (Adventure, Action, ScienceFiction) - 8.10
3. Inception (Action, Thriller, ScienceFiction, Mystery, Adventure) - 8.10
4. The Lord of the Rings: The Return of the King (Adventure, Fantasy, Action) - 8.10
5. The Lord of the Rings: The Fellowship of the Ring (Adventure, Fantasy, Action) - 8.00
6. The Lord of the Rings: The Two Towers (Adventure, Fantasy, Action) - 8.00
7. Gladiator (Action, Drama, Adventure) - 7.90
8. Guardians of the Galaxy (Action, ScienceFiction, Adventure) - 7.90
9. Return of the Jedi (Adventure, Action, ScienceFiction) - 7.90
10. Das Boot (Action, Drama, History, War, Adventure) - 7.90